$pricolor	: #fbf62b;
$seccolor	: #692747;
$whitecolor	: #ffffff;
$graycolor	: #808083;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/* 
* ==========================================
* FONT 	
* ==========================================
*/

@font-face {
    font-family: 'amatic_sc';
    src: url('font/amaticsc-regular-webfont.eot');
    src: url('font/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/amaticsc-regular-webfont.woff') format('woff'),
         url('font/amaticsc-regular-webfont.ttf') format('truetype'),
         url('font/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amatic';
    src: url('font/amatic-bold-webfont.eot');
    src: url('font/amatic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/amatic-bold-webfont.woff') format('woff'),
         url('font/amatic-bold-webfont.ttf') format('truetype'),
         url('font/amatic-bold-webfont.svg#amaticbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

/* 
* ==========================================
* GENERAL 	
* ==========================================
*/
body{
	background: $pricolor;
	font-family: 'amatic_sc', sans-serif;
	line-height: 100%;
}



a{
	text-decoration: none;
	color: $seccolor;

	&:hover, &:focus, &:visited{
		color:$seccolor;
	}
}

.jam-section {
	padding: 80px 0;

	&.narrow{
		padding: 40px 0;
	}

	&.collapse{
		padding: 0;
	}

	&.no-padding-bottom{
		padding-bottom: 0;
	}

	&.no-padding-top{
		padding-top: 0;
	}

	.jam-section-title{
		
		&.alternate{
		
		}
	}

	.title, .subtitle{
		font-family: 'amatic_sc', sans-serif;
	}
	.subtitle{

	}	


}

.wrapperCenter {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.btn{
	background: url('../../assets/img/btn-l.png') no-repeat left top;
	background-size: 20px 50px;
	padding-left: 20px;
	display: inline-block;

	span{
		background: url('../../assets/img/btn-r.png') no-repeat right top;
		background-size: 100px 50px;
		display: block;
		padding-right: 20px;
		color: $pricolor;
		font-size: 25px;
		padding-top: 5px;
		padding-bottom: 10px;
		padding-left: 8px;
	}
}


.bx-wrapper{
	.bx-viewport {
    	background: none;
    	border: none;
    	box-shadow: none;
    	left: 0px;
    	
	}
	img {
    	width: 100%;
	}
} 

/* 
* ==========================================
* HEADER	
* ==========================================
*/
#header{
	background: $pricolor url('../../assets/img/pattern.jpg') repeat 0 0 ;
	padding-bottom: 3px;
	position: relative;

	.wrap{		
		padding-top: 10px;		
		min-height: 60px;
	}

	.decor{
		background: url("../../assets/img/tornnav.png") repeat-x scroll bottom left rgba(0, 0, 0, 0);
	    bottom: -34px;
	    height: 50px;
	    left: 0;
	    position: absolute;
	    width: 100%;
	    z-index: 10;
	}
}	

.branding{
	text-align: center;
	padding-top: 20px;
	a{		
		width: 150px;
    	display: inline-block;
   		margin-bottom: 20px;
	}
}

.menu{
	margin-left: 0;
	margin-right: 0%;
	margin-bottom: 10px;

	li{
		display: inline-block;
		width: 48%;
		margin-bottom: 20px;

		a{
			display: block;
			text-align: center;
			text-transform: uppercase;
			span{
				display: block;
				text-align: center;
				margin-top: -4px;
			}
		}

		&.last{
			margin-right: 0;
		}
	}
}

.m-icon{
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 60px 50px;
	display: inline-block;
	height: 60px;
	width: 90px;
}

.m-about{
	.m-icon{
		background-image: url('../../assets/img/nav/m_news.png');
		background-size: 50px 50px;
	}		
}

.m-foru{
	.m-icon{
		background-image: url('../../assets/img/nav/m_product.png');
		background-size: 54px 60px;
	}		
}

.m-cook{
	.m-icon{
		background-image: url('../../assets/img/nav/m_recipe.png');
		background-size: 60px 50px;
	}		
}

.m-me{
	.m-icon{
		background-image: url('../../assets/img/nav/m_forum.png');
		background-size: 54px 50px;
	}		
}

.user{
	text-align: center;

	.avatar{
		margin-top: 7px;
    	width: 60px;
		display: inline-block;
		/*border: 2px solid $seccolor;*/
		margin-bottom: 6px;

		@include border-radius(50%);
	}
	.name{
		display: block;
		text-align: center;
		font-size: 0.875em;

		span{
			color: $seccolor;
			font-size: 1.1em;
		
		}
	}

	.user-action{
		a{
			font-size: 0.813em;
		}
		strong{
			font-size: 20px;
		}
	}
}



/* 
* ==========================================
* FOOTER	
* ==========================================
*/

/* 
* ==========================================
* MOBILE MENU	
* ==========================================
*/
.mmenu-btn{	
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC") no-repeat scroll center center transparent;
	display: block;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    position: absolute;
    top: 9px;
    width: 40px;
    z-index: 0;
}

.mm-menu{
	&.mm-ismenu{
		background: $pricolor; 
	}
	&.mm-top{
		height: 70%;
	}
	.mm-list{
		text-align: center;
		a{
			color: $seccolor;

		}
		.m-icon{
			width: 60px;
		}
		span{
			line-height: 1;
			vertical-align: bottom;
			font-size: 30px;
		}
	}

	.logo{
		display: block;
		width: 150px;
		margin: 0 auto;
	}

	&.mm-front{
		z-index: 200;
	}

	.mm-close{
		width: 40px;
		height: 40px;
		margin: 0 auto;
		display: block;
		text-align: center;
		line-height: 40px;
		vertical-align: middle;

	}	
}


/* 
* ==========================================
* SECTION: PRESENTATION	
* ==========================================
*/

.jam-presentation{
	margin-top: -10px;

	> li{
		position: relative;
		overflow: hidden;
	}
}

.jam-slide-content {
	
	padding-top: 0em;
	padding-bottom: 2em;

	.imgCached{
		display: none;
	}
}


/* 
* ==========================================
* TOUCH FIX	
* ==========================================
*/

.touch{	
	
}

/* 
* ==========================================
* BROWSER FIX	
* ==========================================
*/


/* 
* ==========================================
* MEDIA QUERIE	
* ==========================================
*/

@media only screen and (min-width: 32.875em) and (max-width: 40.000em) {

}


// Medium screens
@media only screen and (min-width: 40.063em) {

body{
	padding-top: 130px;
}

/* 
* ==========================================
* HEADER	
* ==========================================
*/

#maggi-menu{
	display: none;
}

#header{
	width: 100%;
  	left: 0;
  	position: fixed;
  	top: 0;
  	z-index: 99; 
}


.branding{
	text-align: left;
	a{		
		width: 101%;
    	display: inline-block;
   		margin-bottom: 0px;
	}
}


.menu{
	
    margin-top: 10px;

    text-align: right;

	li{
		margin-right: 5%;
		width: auto;
		margin-bottom: 0px;
		&.last{
			margin-right: 0;
		}

		a{
			font-size: 1em;
			padding-bottom: 10px;
			
			

			&:hover{

				background:url('../../assets/img/nav/m_line.png') no-repeat bottom center ;
				background-size:  30px 10px;


				.m-icon{
					-webkit-animation: wobble 1s 0.1s 2 alternate linear;
					-moz-animation: wobble 1s 0.1s 2 alternate linear;
					animation: wobble 1s 0.1s 2 alternate linear;
				}
			}
		}

		&.current{
			a{
				background:url('../../assets/img/nav/m_line.png') no-repeat bottom center ;
			}
			

		}
		
	}
}	

.menu-wrap{
	background-image: url('../../assets/img/leek.png');
	background-position: right 8px;
	background-size: 14px 98px;
	background-repeat: no-repeat;
}


/* 
* ==========================================
* SECTION: PRESENTATION	
* ==========================================
*/

.jam-presentation{

}

.jam-slide-content {
	
	.imgCached{
		display: block;
		position: absolute;
	}


	.brocolli{
		left: 0px;
    	top: 16%;
		z-index: 10;
	}

	.tomato{
		right: 0px;
    	top: 16%;
		z-index: 10;
	}	

	.mushroom{
		left: 50%;
    	bottom: 5%;
		z-index: 10;
		width: 320px;
		margin-left: -70px;
	}	
	



	/*animate*/


}

.bg {
  position: absolute; 
  top: 0; 
  left: 0;	
  /* Preserve aspet ratio */
  min-width: 100%;
  z-index: 10;
}



/* 
* ==========================================
* FAMILY PRODUCT	
* ==========================================
*/

#jam-introduce{
	background: url(../../assets/img/product/p_bg.png) no-repeat center top;
	/*background-size: cover;*/
	border: 1px solid red;
	height: 800px;
    position: relative;
    width: 100%;

	.title{
		font-size: 4em;
		color: $pricolor;
	}

	.wrapperCenter{
		height: 75%;
	}

	.jam-section-decor{
		height: 600px;
		position: relative;
	}

	.family{
		    bottom: 0px;
		    height: 400px;
		    left: 0;
		    /*overflow: hidden;*/
		    position: absolute;
		    width: 100%;

		ul{
			height: 100%;
		    left: 0;
		    position: relative;
		    top: 0;
		    width: 100%;
		    z-index: 10;
		}


		#familyLbl{
			background: none repeat scroll 0 0 #fa040d;
		    border-radius: 50%;
		    color: #fff;
		    display: table;
		    font: 19px/21px sans-serif;
		    height: 105px;
		    left: 366px;
		    position: absolute;
		    top: -70px;
		    width: 105px;
		    z-index: 20;

		    em {
			    display: table-cell;
			    padding: 0 10px;
			    text-align: center;
			    transform: rotate(-3deg);
			    vertical-align: middle;
			}

		}


		li {
	    	bottom: 50px;
	    	left: 0;
	    	position: absolute;	    	
	    	transition: transform 0.5s ease 0s;
	    	cursor: pointer;
	    	    	
	    	em{
	    		display: none;
	    	}


	    	&.l1{
	    		bottom: 25px;
    			left: 50px;
    			z-index: 40;    			
	    	}

	    	&.l2{
	    		bottom: 25px;
    			left: 172px;
    			z-index: 50;
	    	}
	    	
	    	&.l3{
	    		left: 236px;
    			bottom: 20px;
    			z-index: 60;
	    	}
			
			&.l4{
	    		bottom: 7px;
    			left: 294px;
    			z-index: 70;
	    	}
	    	&.cl{
	    		left: 360px;
	    		bottom: 0px;
	    		z-index: 80;

	    		&:hover{
	    			
	    			-webkit-animation: bounce 0.8s 0.5s 1  linear;
					-moz-animation: bounce 0.8s 0.5s 1 linear;
					animation: bounce 0.8s 0.5s 1  linear;
	    		}
	    	}

	    	&.r1{
	    		bottom: 7px;
    			left: 440px;
    			z-index: 70;
	    	}

	    	&.r2{
	    		bottom: 20px;
			    left: 510px;
			    z-index: 60;
	    	}
	    	
	    	&.r3{
	    		bottom: 30px;
			    left: 566px;
			    z-index: 50;
	    	}
			
			&.r4{
	    		bottom: 17px;
			    left: 706px;
			    z-index: 40;
	    	}


	    	&.l1,&.l2,&.l3,&.l4{
	    		&:hover{
    				
    				-webkit-animation: wobble 0.8s 0.5s 1  linear;
					-moz-animation: wobble 0.8s 0.5s 1 linear;
					animation: wobble 0.8s 0.5s 1 linear;
    			}
	    	}
	    	&.r1,&.r2,&.r3,&.r4{
	    		&:hover{
    				
    				-webkit-animation: wobble 0.8s 0.5s 1 linear;
					-moz-animation: wobble 0.8s 0.5s 1 linear;
					animation: wobble 0.8s 0.5s 1 linear;
    			}
	    	}



		}




	}	

}





} /* min-width 641px, medium screens */


@media only screen and (min-width: 47.563em) { 
	.menu-wrap{
		margin-left:5.6667% !important;
		width: 74.6667%;
	}
	.menu{
		margin-right: 5%
	}
}




// Large screens
@media only screen and (min-width: 64.063em) { 

.wrapperCenter {
	width: 940px;
}



/* 
* ==========================================
* SECTIONS	
* ==========================================
*/
.jam-presentation{
	.welcome {
		
		width: 900px;
		margin-left: -450px;
	}
}

} /* min-width 1025px, large screens */


// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */
// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */


}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
/* STYLES GO HERE */ 
	
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */


}