/* 
* ==========================================
* FONT 	
* ==========================================
*/
@font-face {
  font-family: 'amatic_sc';
  src: url("font/amaticsc-regular-webfont.eot");
  src: url("font/amaticsc-regular-webfont.eot?#iefix") format("embedded-opentype"), url("font/amaticsc-regular-webfont.woff") format("woff"), url("font/amaticsc-regular-webfont.ttf") format("truetype"), url("font/amaticsc-regular-webfont.svg#amatic_scregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'amatic';
  src: url("font/amatic-bold-webfont.eot");
  src: url("font/amatic-bold-webfont.eot?#iefix") format("embedded-opentype"), url("font/amatic-bold-webfont.woff") format("woff"), url("font/amatic-bold-webfont.ttf") format("truetype"), url("font/amatic-bold-webfont.svg#amaticbold") format("svg");
  font-weight: bold;
  font-style: normal; }
/* 
* ==========================================
* GENERAL 	
* ==========================================
*/
/* line 49, main.scss */
body {
  background: #fbf62b;
  font-family: 'amatic_sc', sans-serif;
  line-height: 100%; }

/* line 57, main.scss */
a {
  text-decoration: none;
  color: #692747; }
  /* line 61, main.scss */
  a:hover, a:focus, a:visited {
    color: #692747; }

/* line 66, main.scss */
.jam-section {
  padding: 80px 0; }
  /* line 69, main.scss */
  .jam-section.narrow {
    padding: 40px 0; }
  /* line 73, main.scss */
  .jam-section.collapse {
    padding: 0; }
  /* line 77, main.scss */
  .jam-section.no-padding-bottom {
    padding-bottom: 0; }
  /* line 81, main.scss */
  .jam-section.no-padding-top {
    padding-top: 0; }
  /* line 92, main.scss */
  .jam-section .title, .jam-section .subtitle {
    font-family: 'amatic_sc', sans-serif; }

/* line 102, main.scss */
.wrapperCenter {
  height: 100%;
  margin: 0 auto;
  position: relative;
  width: 100%; }

/* line 109, main.scss */
.btn {
  background: url("../../assets/img/btn-l.png") no-repeat left top;
  background-size: 20px 50px;
  padding-left: 20px;
  display: inline-block; }
  /* line 115, main.scss */
  .btn span {
    background: url("../../assets/img/btn-r.png") no-repeat right top;
    background-size: 100px 50px;
    display: block;
    padding-right: 20px;
    color: #fbf62b;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 8px; }

/* line 130, main.scss */
.bx-wrapper .bx-viewport {
  background: none;
  border: none;
  box-shadow: none;
  left: 0px; }
/* line 137, main.scss */
.bx-wrapper img {
  width: 100%; }

/* 
* ==========================================
* HEADER	
* ==========================================
*/
/* line 147, main.scss */
#header {
  background: #fbf62b url("../../assets/img/pattern.jpg") repeat 0 0;
  padding-bottom: 3px;
  position: relative; }
  /* line 152, main.scss */
  #header .wrap {
    padding-top: 10px;
    min-height: 60px; }
  /* line 157, main.scss */
  #header .decor {
    background: url("../../assets/img/tornnav.png") repeat-x scroll bottom left transparent;
    bottom: -34px;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 10; }

/* line 168, main.scss */
.branding {
  text-align: center;
  padding-top: 20px; }
  /* line 171, main.scss */
  .branding a {
    width: 150px;
    display: inline-block;
    margin-bottom: 20px; }

/* line 178, main.scss */
.menu {
  margin-left: 0;
  margin-right: 0%;
  margin-bottom: 10px; }
  /* line 183, main.scss */
  .menu li {
    display: inline-block;
    width: 48%;
    margin-bottom: 20px; }
    /* line 188, main.scss */
    .menu li a {
      display: block;
      text-align: center;
      text-transform: uppercase; }
      /* line 192, main.scss */
      .menu li a span {
        display: block;
        text-align: center;
        margin-top: -4px; }
    /* line 199, main.scss */
    .menu li.last {
      margin-right: 0; }

/* line 205, main.scss */
.m-icon {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 60px 50px;
  display: inline-block;
  height: 60px;
  width: 90px; }

/* line 215, main.scss */
.m-about .m-icon {
  background-image: url("../../assets/img/nav/m_news.png");
  background-size: 50px 50px; }

/* line 222, main.scss */
.m-foru .m-icon {
  background-image: url("../../assets/img/nav/m_product.png");
  background-size: 54px 60px; }

/* line 229, main.scss */
.m-cook .m-icon {
  background-image: url("../../assets/img/nav/m_recipe.png");
  background-size: 60px 50px; }

/* line 236, main.scss */
.m-me .m-icon {
  background-image: url("../../assets/img/nav/m_forum.png");
  background-size: 54px 50px; }

/* line 242, main.scss */
.user {
  text-align: center; }
  /* line 245, main.scss */
  .user .avatar {
    margin-top: 7px;
    width: 60px;
    display: inline-block;
    /*border: 2px solid $seccolor;*/
    margin-bottom: 6px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  /* line 254, main.scss */
  .user .name {
    display: block;
    text-align: center;
    font-size: 0.875em; }
    /* line 259, main.scss */
    .user .name span {
      color: #692747;
      font-size: 1.1em; }
  /* line 267, main.scss */
  .user .user-action a {
    font-size: 0.813em; }
  /* line 270, main.scss */
  .user .user-action strong {
    font-size: 20px; }

/* 
* ==========================================
* FOOTER	
* ==========================================
*/
/* 
* ==========================================
* MOBILE MENU	
* ==========================================
*/
/* line 289, main.scss */
.mmenu-btn {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC") no-repeat scroll center center transparent;
  display: block;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  top: 9px;
  width: 40px;
  z-index: 0; }

/* line 302, main.scss */
.mm-menu.mm-ismenu {
  background: #fbf62b; }
/* line 305, main.scss */
.mm-menu.mm-top {
  height: 70%; }
/* line 308, main.scss */
.mm-menu .mm-list {
  text-align: center; }
  /* line 310, main.scss */
  .mm-menu .mm-list a {
    color: #692747; }
  /* line 314, main.scss */
  .mm-menu .mm-list .m-icon {
    width: 60px; }
  /* line 317, main.scss */
  .mm-menu .mm-list span {
    line-height: 1;
    vertical-align: bottom;
    font-size: 30px; }
/* line 324, main.scss */
.mm-menu .logo {
  display: block;
  width: 150px;
  margin: 0 auto; }
/* line 330, main.scss */
.mm-menu.mm-front {
  z-index: 200; }
/* line 334, main.scss */
.mm-menu .mm-close {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  text-align: center;
  line-height: 40px;
  vertical-align: middle; }

/* 
* ==========================================
* SECTION: PRESENTATION	
* ==========================================
*/
/* line 353, main.scss */
.jam-presentation {
  margin-top: -10px; }
  /* line 356, main.scss */
  .jam-presentation > li {
    position: relative;
    overflow: hidden; }

/* line 362, main.scss */
.jam-slide-content {
  padding-top: 0em;
  padding-bottom: 2em; }
  /* line 367, main.scss */
  .jam-slide-content .imgCached {
    display: none; }

/* 
* ==========================================
* TOUCH FIX	
* ==========================================
*/
/* 
* ==========================================
* BROWSER FIX	
* ==========================================
*/
/* 
* ==========================================
* MEDIA QUERIE	
* ==========================================
*/
@media only screen and (min-width: 40.063em) {
  /* line 404, main.scss */
  body {
    padding-top: 130px; }

  /* 
  * ==========================================
  * HEADER	
  * ==========================================
  */
  /* line 414, main.scss */
  #maggi-menu {
    display: none; }

  /* line 418, main.scss */
  #header {
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99; }

  /* line 427, main.scss */
  .branding {
    text-align: left; }
    /* line 429, main.scss */
    .branding a {
      width: 101%;
      display: inline-block;
      margin-bottom: 0px; }

  /* line 437, main.scss */
  .menu {
    margin-top: 10px;
    text-align: right; }
    /* line 443, main.scss */
    .menu li {
      margin-right: 5%;
      width: auto;
      margin-bottom: 0px; }
      /* line 447, main.scss */
      .menu li.last {
        margin-right: 0; }
      /* line 451, main.scss */
      .menu li a {
        font-size: 1em;
        padding-bottom: 10px; }
        /* line 457, main.scss */
        .menu li a:hover {
          background: url("../../assets/img/nav/m_line.png") no-repeat bottom center;
          background-size: 30px 10px; }
          /* line 463, main.scss */
          .menu li a:hover .m-icon {
            -webkit-animation: wobble 1s 0.1s 2 alternate linear;
            -moz-animation: wobble 1s 0.1s 2 alternate linear;
            animation: wobble 1s 0.1s 2 alternate linear; }
      /* line 472, main.scss */
      .menu li.current a {
        background: url("../../assets/img/nav/m_line.png") no-repeat bottom center; }

  /* line 482, main.scss */
  .menu-wrap {
    background-image: url("../../assets/img/leek.png");
    background-position: right 8px;
    background-size: 14px 98px;
    background-repeat: no-repeat; }

  /* 
  * ==========================================
  * SECTION: PRESENTATION	
  * ==========================================
  */
  /* line 500, main.scss */
  .jam-slide-content {
    /*animate*/ }
    /* line 502, main.scss */
    .jam-slide-content .imgCached {
      display: block;
      position: absolute; }
    /* line 508, main.scss */
    .jam-slide-content .brocolli {
      left: 0px;
      top: 16%;
      z-index: 10; }
    /* line 514, main.scss */
    .jam-slide-content .tomato {
      right: 0px;
      top: 16%;
      z-index: 10; }
    /* line 520, main.scss */
    .jam-slide-content .mushroom {
      left: 50%;
      bottom: 5%;
      z-index: 10;
      width: 320px;
      margin-left: -70px; }

  /* line 536, main.scss */
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    z-index: 10; }

  /* 
  * ==========================================
  * FAMILY PRODUCT	
  * ==========================================
  */
  /* line 553, main.scss */
  #jam-introduce {
    background: url(../../assets/img/product/p_bg.png) no-repeat center top;
    /*background-size: cover;*/
    border: 1px solid red;
    height: 800px;
    position: relative;
    width: 100%; }
    /* line 561, main.scss */
    #jam-introduce .title {
      font-size: 4em;
      color: #fbf62b; }
    /* line 566, main.scss */
    #jam-introduce .wrapperCenter {
      height: 75%; }
    /* line 570, main.scss */
    #jam-introduce .jam-section-decor {
      height: 600px;
      position: relative; }
    /* line 575, main.scss */
    #jam-introduce .family {
      bottom: 0px;
      height: 400px;
      left: 0;
      /*overflow: hidden;*/
      position: absolute;
      width: 100%; }
      /* line 583, main.scss */
      #jam-introduce .family ul {
        height: 100%;
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 10; }
      /* line 593, main.scss */
      #jam-introduce .family #familyLbl {
        background: none repeat scroll 0 0 #fa040d;
        border-radius: 50%;
        color: #fff;
        display: table;
        font: 19px/21px sans-serif;
        height: 105px;
        left: 366px;
        position: absolute;
        top: -70px;
        width: 105px;
        z-index: 20; }
        /* line 606, main.scss */
        #jam-introduce .family #familyLbl em {
          display: table-cell;
          padding: 0 10px;
          text-align: center;
          transform: rotate(-3deg);
          vertical-align: middle; }
      /* line 617, main.scss */
      #jam-introduce .family li {
        bottom: 50px;
        left: 0;
        position: absolute;
        transition: transform 0.5s ease 0s;
        cursor: pointer; }
        /* line 624, main.scss */
        #jam-introduce .family li em {
          display: none; }
        /* line 629, main.scss */
        #jam-introduce .family li.l1 {
          bottom: 25px;
          left: 50px;
          z-index: 40; }
        /* line 635, main.scss */
        #jam-introduce .family li.l2 {
          bottom: 25px;
          left: 172px;
          z-index: 50; }
        /* line 641, main.scss */
        #jam-introduce .family li.l3 {
          left: 236px;
          bottom: 20px;
          z-index: 60; }
        /* line 647, main.scss */
        #jam-introduce .family li.l4 {
          bottom: 7px;
          left: 294px;
          z-index: 70; }
        /* line 652, main.scss */
        #jam-introduce .family li.cl {
          left: 360px;
          bottom: 0px;
          z-index: 80; }
          /* line 657, main.scss */
          #jam-introduce .family li.cl:hover {
            -webkit-animation: bounce 0.8s 0.5s 1  linear;
            -moz-animation: bounce 0.8s 0.5s 1 linear;
            animation: bounce 0.8s 0.5s 1  linear; }
        /* line 665, main.scss */
        #jam-introduce .family li.r1 {
          bottom: 7px;
          left: 440px;
          z-index: 70; }
        /* line 671, main.scss */
        #jam-introduce .family li.r2 {
          bottom: 20px;
          left: 510px;
          z-index: 60; }
        /* line 677, main.scss */
        #jam-introduce .family li.r3 {
          bottom: 30px;
          left: 566px;
          z-index: 50; }
        /* line 683, main.scss */
        #jam-introduce .family li.r4 {
          bottom: 17px;
          left: 706px;
          z-index: 40; }
        /* line 691, main.scss */
        #jam-introduce .family li.l1:hover, #jam-introduce .family li.l2:hover, #jam-introduce .family li.l3:hover, #jam-introduce .family li.l4:hover {
          -webkit-animation: wobble 0.8s 0.5s 1  linear;
          -moz-animation: wobble 0.8s 0.5s 1 linear;
          animation: wobble 0.8s 0.5s 1 linear; }
        /* line 699, main.scss */
        #jam-introduce .family li.r1:hover, #jam-introduce .family li.r2:hover, #jam-introduce .family li.r3:hover, #jam-introduce .family li.r4:hover {
          -webkit-animation: wobble 0.8s 0.5s 1 linear;
          -moz-animation: wobble 0.8s 0.5s 1 linear;
          animation: wobble 0.8s 0.5s 1 linear; } }
/* min-width 641px, medium screens */
@media only screen and (min-width: 47.563em) {
  /* line 726, main.scss */
  .menu-wrap {
    margin-left: 5.6667% !important;
    width: 74.6667%; }

  /* line 730, main.scss */
  .menu {
    margin-right: 5%; } }
@media only screen and (min-width: 64.063em) {
  /* line 741, main.scss */
  .wrapperCenter {
    width: 940px; }

  /* 
  * ==========================================
  * SECTIONS	
  * ==========================================
  */
  /* line 753, main.scss */
  .jam-presentation .welcome {
    width: 900px;
    margin-left: -450px; } }
/* min-width 1025px, large screens */
/* min-width 1441px, xlarge screens */
/* min-width 1921px, xxlarge screens */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */ }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* STYLES GO HERE */ }
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
